# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CYGNUS34_LEFT
    def_bool $(shields_list_contains,cygnus34_left)

config SHIELD_CYGNUS34_RIGHT
    def_bool $(shields_list_contains,cygnus34_right)
